body {
  margin: 0;
  padding: 2px;
  background-color: #eee;
  text-transform: uppercase;
}

h1 {
  text-align: center;
  font-size: 1.3em;
  }

.subheader {
  font-size: 0.6em;
}
.law_random {
  text-decoration: underline;
}
.interval {
  background-color: #999;
}
.row {
  display: flex;
  gap: 20px;
}

.canvaswrap {
  display: flex;
  flex-direction: column;
  width: 70%;
}

#graphrandom1 {
  border: 1px solid black;
  margin-bottom: 10px;
  /* height: 200; */
}

#graphrandom2 {
  border: 1px solid black;
  /* height: 300px; */
}

#graphdensity {
  border: 1px solid black;
}

.fieldset {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  font-weight: 600;
}
.inputgroup {
  display: flex;
  font-size: 0.8em;
  margin-bottom: 10px;
  font-weight: 200;
}
.inputgroup__label {
  display: block;
  padding: 2px;
  margin-right: auto;
  cursor: pointer;
}

.inputgroup__input {
  display: block;
  border: 1px dotted #999;
  border-radius: 0;
  -webkit-appearance: none;
  width: 45px;
  text-align: right;
  padding: 3px 5px;
  border-radius: 0.5em;
  background-color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.inputgroup__input:focus {
  border-color: aqua;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button {
opacity: 1
}

.button {
margin: 5px;
padding: 10px;
background-color: aqua;
border-radius: 1em;
text-transform: uppercase;
cursor: pointer;
text-decoration: none;
text-align: center;
font-weight: 200;
color: black
}

.button:hover:not([disabled]) {
  background-color: #96f7f7;
  font-weight: 600;
}

footer {
  font-size: 0.6em;
  background-color: black;
  color:aqua;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
}

.modal {
  position: fixed; /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5); /* цвет фона */
  z-index: 1050;
  opacity: 0; /* по умолчанию модальное окно прозрачно */
  -webkit-transition: opacity 200ms ease-in; 
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in; /* анимация перехода */
  pointer-events: none; /* элемент невидим для событий мыши */
  margin: 0;
  padding: 0;
}
/* при отображении модального окно */
.modal:target {
  opacity: 1; /* делаем окно видимым */
  pointer-events: auto; /* элемент видим для событий мыши */
  overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
}
@media (min-width: 768px) {
.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
}
/* свойства для заголовка модального окна */
.modal-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eceeef;
}
.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
}
/* свойства для кнопки "Закрыть" */
.close {
  float: right;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
}